body,
button,
input,
select,
optgroup,
textarea {
	color: $color__skin-dark;
	font-family: $font__family;
	@include font-size(.9);
	line-height: $font__line-height-body;
	
	@media screen and (min-width: $bp-medium) {
		@include font-size(1);
	}
}

@import "headings";
@import "copy";
