$color__skin: #214EAF; // Header etc.
$color__skin-dark: #182E5F; // Header etc.
$color__skin-light: #E1EAFF; // Header etc.
$color__interactive: #FCA311; // Links, highlights, etc.
$color__secondary: #404040; 
$color__secondary-light: #999;
$color__secondary-lighter: #ECECEC;
$color__grey-dark: #54483A;; 
$color__grey-light: #6D5D4B;
$color__grey-lighter: #aaa; 

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
